# Copy this file to .env and update paths for your system
# cp .env.template .env

PIPER_PATH=/home/tarai/Desktop/Eli/piper/piper
VOICES_PATH=/home/tarai/Desktop/Eli/piper/voices
PORT=5000
ELI_VOICE=en_US-ryan-high
ARI_VOICE=en_US-kusal-medium
